bertopic==0.17.3
fastapi==0.116.1
huggingface-hub==0.34.4
langdetect==1.0.9
newspaper3k==0.2.8
nltk==3.9.1
numpy==2.2.0
pandas==2.3.2
pydantic==2.11.9
pydantic_core==2.33.2
scikit-learn==1.7.2
sentence-transformers==5.1.0
sentencepiece==0.2.1
torch==2.8.0
torchvision==0.23.0
transformers==4.56.1
umap-learn==0.5.9.post2
lxml[html_clean]>=4.9.3
