.stApp {
    background-color: #123524;
}

[data-testid="stSidebar"] {
    background-color: #638C6D;
}

h1 {
    text-align: center;
    font-size: 72px !important;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace !important;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace !important;
}

p {
    font-family: 'Courier New', Courier, monospace !important;
}

.stSelectbox div[data-baseweb="select"] > div, [data-testid="stTextInput"] input {
    background-color: #2E4F4F;
    color: white;
    transition: 0.5s;
}

.stSelectbox div[data-baseweb="select"] > div:hover, [data-testid="stTextInput"] input:hover {
    background-color: #0E8388;
}

div.stButton > button {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #0E8388;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

div.stButton > button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0E8388;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

div.stButton > button:hover::before {
    transform: translateX(0);
}
